*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
}

/* .result {} */

.result__video-container {
  margin-bottom: 16px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 194px; 
  gap: 40px;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
    /*разобраться с focus-visible: 
  с мышки нет обводки, а с таба есть, 
 */
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* .search-form__label-text {} */

.search-form__textfield {
  appearance: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.70);
  border-bottom: 1px solid rgba(255, 255, 255, 0.70);
  border-left: none;
  border-right: none;
}

.search-form__textfield:focus {
  outline: none;    
  /*разобраться с focus*/
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* .search-form__checkbox {} */

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background: #fff; 
  width: 15px;
  height: 15px;
  display: block;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  background: transparent;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  padding: 6px 0;
}

.button:hover {
  text-decoration: underline;
} 

.button:active {
  background: #545050;
  text-decoration: none;
} 

.button:focus {
  outline: none;  /*Состояние :focus должно быть сброшено. */
} 

.button:focus-visible {
  outline: 1px solid #fff;
  /*разобраться с focus-visible */
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 26px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
} 

.content__accent {
  color: #545050;
}

.content__list {
  height: 296px;
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

/* .preloader-template {}

.preloader {}

.preloader-chasing-squares {}

.square {}

.cards-list-item-template {}

.content__list-item {} */

.content__card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__card-link:focus {
  outline: none; /*Состояние :focus должно быть сброшено. */
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  /*разобраться с focus-visible */
}

.content__card-link_current {
  background: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  padding: 2px;
}

.content__video-card-description-container {
  hyphens: auto;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;

}

/* .more-button-template {} */

.more-button {
  width: 100%;
}

/* .error-template {}

.error {}

.error__title {} */